body{
	margin: 0%;
	background:linear-gradient(45deg,red, yellow, green, blue) ;
	font-family: 'Merriweather Sans', sans-serif;
}

header{
	padding: 0%;
	margin-left: 7%;
	margin-right: 7%;
	background-color: white;  
	position: fixed;  
	height:12%;	
	width: 86%;
}

main{
	
	color: rgba(0, 1, 39);
	font-size: 120%;
	margin-left: 7%;
	margin-right: 7%;
	background-color: rgba(255, 255, 255, 0.719);
	padding: 5%;
	padding-top: 12%;
	
}

h1{
	text-align: center;
	text-shadow: 4px 3px 6px rgba(0, 0, 0, 0.445);
}

img{
	width: 200px;
	height: 200px;
	
}

.topic{
	border:2px solid rgb(0, 1, 39);
	border-radius: 20px;
	margin:1%;
	padding:1%;
	margin-top:3%;
	box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.445);
}

header #logo{
	float: left;
	height:90%;
	width: auto;
}

header #headtext{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 140%;
}



